<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp - All of your URLs</title>
</head>

<div>
  <h1>TinyApp</h1>
  <h2>Your shortened URLs</h2>
  <% include partials/_header %>
</div>


<body leftmargin="80px", topmargin="80px" style="background-color: #f9f9f9; font-family: Arial">


<table cellpadding="8px">
    <tr>
      <td><strong>Short URL</strong></td>
      <td><strong>Long URL</strong></td>
      <td><strong>Actions</strong></td>
    </tr>
<% for (let url in urls) { %>
    <tr>
      <td><%= url %> &rarr;</td>
      <td><a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a></td>
      <td>
      <a href="/urls/<%= url %>">Edit</a>
      <form method="POST" action= <%= `/urls/${url}/delete` %>>
      <input type = "submit" value = "Delete">
      </form>
      </td>
    </tr>
  <% } %>
</table>
</br>
</br>
</br>
<button type = "button" style="font-size: 14px"><a href="/urls/new">Generate short URL</a></button>

</body>

</html>