<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp - All of your URLs</title>
</head>

<header>
    <% include partials/_header %>
</header>

<body leftmargin="100px", topmargin="100px">

<table cellpadding="8px">
  <% for (let url in urls) { %>
        <tr>
        <td><%= url %> &rarr;</td>
        <td><a href="<%= urls[url] %>"><%= urls[url].longURL %></a></td>
        <td>
          <a href="/urls/<%= url %>">Edit</a>&nbsp;&nbsp;
          <form method="POST" action= <%= `/urls/${url}/delete` %>>
          <input type = "submit" value = "Delete">
        </td>
      </tr>
      </form>
  <% } %>
</table>
</br>
</br>
</br>
<button type = "button" padding="10px"><a href="/urls/new">Generate short URL</a></button>

</body>

</html>